.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    border-radius: 5px;
    flex: 0 1 calc(33.33% - 20px);
}

  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }