body {
  font-family: sans-serif;
  background-color: aliceblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #2a3364;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: white;
  color: black;
}

.activeList {
  float: right;
}

.active {
  background-color: #2a3364;
}