.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scroll-to-top.show {
    opacity: 1;
  }
  
  .scroll-to-top-icon {
    width: 20px;
    height: 20px;
  }

  .components{
    font-size: 20px;
  }