body{
  font-family:sans-serif;
  background-color:#C9A7EB;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8D9EFF;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #8D72E1;
}

.activeList {
  float: right;
}

.active {
  background-color: #6C4AB6;
}